/*GENERAL DEL CSS*/

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {

    height: ;

    width: 100%;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 12vh;
    width: 100%;
    background-color: rgb(196, 232, 253);
    box-shadow: 1px 1px 1px 1px rgb(196, 232, 253);

}

#header__logo {
    height: 10px;
    width: 20%;
    top: 0;
}

.header_icono {
    height: 100%;
    width: 20%;
    border: 0;
    background-color: transparent;
}

.icono {
    font-size: 3rem;
}

.header_navegation {
    width: 100%;
    height: 25vh;
    background-color: rgb(151, 209, 242, .8);
    display: none;


}

.header_navegation ul {
    display: flex;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;


}



.header_navegation li {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    list-style: none;
}

.header_navegation-active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.header_navegation-disabled {
    display: none;

}

.navegetion_link {
    color: rgb(151, 209, 238);
    text-decoration: none;
    font-size: 2.5 rem;
    color: rgb(8, 54, 80);
    ;
}




.banner_carousel {
    display: none;
}





.baner_titulo {
    color: rgb(233, 237, 241);
    font-size: 6vh;
    align-items: center;


}

/*contenido*/

#banner {
    background-color: rgb(14, 47, 77);
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.banner__titulo h1 {
    color: rgb(207, 218, 228);
    font-size: 3rem;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.banner__titulo h1 {


    text-align: center;

}


.banner__carousel {

    display: none;
}






#Nosotros {
    background-color: rgb(151, 209, 242, .8);
    width: 100%;
    height: 100vh;


}

.nosotros {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.equipo {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.linkelin {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;

}

/*main*/


#servicios  {
    background-color: rgb(14, 47, 77);
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(207, 218, 228);
    padding: 0,15%;
}


img {
    border-radius: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    margin: 60px;
}

.linkelin {

    align-items: center;
 
    font-size: 10px;
}
.figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:60px ;
}

.p {
    width: 200px;
    height: 100px;
    color: aliceblue;



}



/*footer*/


 section footer {
    border-bottom: 10px;
    background-color: rgb(196, 232, 253);
    align-items: center;

}